table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #920606;
    color: white;
}

td {
    background-color: #f9f9f9;
}

td.class {
    background-color: #e0f7fa;
}

h1 {
    color: #333;
}